<ion-content> 
      
  <ion-row  class="ion-justify-content-center ion-margin fondo">
    <ion-col siz="12" class="mx-auto mt-3">

      <ion-col size="12"  >
        <img class="logo" src="../../assets/logo_pelu (2).png" alt=""> 
      </ion-col>
        
      
  <div>
    <ion-item >
      <ion-label position="floating" color="light">Usuario/Email</ion-label>
      <ion-input color="light"></ion-input>
    </ion-item>
    <ion-item >
      <ion-label position="floating" color="light">Contraseña</ion-label>
      <ion-input color="light" type=password></ion-input>
    </ion-item>
    <div class="ion-margin">
      <ion-button expand="block" type="submit" class="ion-no-margin" color="light">Ingresar</ion-button>
    </div>
      <div >
        <ion-row class="text-center" >
          <ion-col size="12"><a href="http://">Registrarse</a></ion-col>
          <ion-col size="12"></ion-col>
          <ion-col size="12"><a href="http://">No podes iniciar sesion?</a></ion-col>

        </ion-row>
        
        
      </div>
  </div>
</ion-col>
</ion-row>
</ion-content>
