<ion-content> 
      
  <ion-row  class="ion-justify-content-center ion-margin fondo">
    <ion-col siz="12" class="mx-auto mt-3">

      <ion-col size="12"  >
        <img class="logo" src="../../assets/logo_pelu (2).png" alt=""> 
      </ion-col>
        
      

    <ion-row class=" ion-margin-top"  >
        <ion-col>
            <ion-button (click)="onClick()" color="light" expand="full" fill="outline">
              <ion-icon name="logo-facebook" slot="start"></ion-icon>              
              iniciar Sesion con Facebook
            </ion-button>
        </ion-col>
      <ion-col>
          <ion-button routerLink="/servicio" color="light" expand="full" fill="outline" >
            <ion-icon name="logo-google" slot="start"></ion-icon>              
            iniciar Sesion con Google
          </ion-button>
      </ion-col>
      <ion-row class="mx-auto" >
        <ion-col size="12" class="text-center"><a href="http://">Registrarse</a></ion-col>
        <ion-col size="12"></ion-col>
        <ion-col size="12" class="text-center"><a href="http://">No podes iniciar sesion?</a></ion-col>
      </ion-row>
        

        </ion-row>
        
        
</ion-col>
</ion-row>
</ion-content>
